<header>
  <h1>Hacker News</h1>
  <p>
    <a href="#posts">new</a>
    <a href="#">comments</a>
    <a href="#">popular</a>
    <a href="#">login</a>
  </p>
</header>


<div class='post-container'>
  <% @posts.each do |post| %>
      <!--This is how you do a partial in rails-->
      <%= render partial: '/posts/post', locals: {post: post} %>
  <% end %>
</div>


<%= form_for :post, url: '/posts', html: {id: 'posts'} do |f| %>
    <%= f.label :title %>:
    <%= f.text_field :title %>
    <br>
    <%= f.label :content %>:
    <%= f.text_area :content %>
    <br>

    <%= f.submit %>
<% end %>